@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$ff: 'Comfortaa', cursive;
$base: #023047;
$accent: #219ebc;
$pink: #e68ab4;
$gray-light: #dee2e6;
$gray-dark: #ced4da;

@mixin font($fs:1rem, $fw:300, $lh:1.1rem, $ls:normal, $color: $base, $tt:normal) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: $lh;
  color: $color;
  text-transform: $tt;
}
