@import 'typography';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;

  @include flex-colum();
  @include font();

  > * {
    width: 90%;
    margin: 1.5rem auto;

    @include flex-colum();
  }

  h1,
  h2 {
    @include font($fs: 1.6rem, $lh:1.3rem, $fw:bold, $tt: uppercase);

    align-self: center;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  p {
    margin: 0.5rem 0;
  }

  .btn {
    border: 2px solid $accent;
    border-radius: 3px;
    padding: 0.5rem 1rem;

    @include font($color: $accent);

    background-color: transparent;
    transition: background-color ease-out 250ms;
  }

  form {
    width: 100%;
    max-width: 400px;
    margin: auto;

    @include flex-colum();

    align-items: center;

    .input__field {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: none;
      outline: 1px solid $gray-dark;

      @include font();

      &:focus {
        outline: 1px solid $accent;
      }
    }

    .btn {
      margin-top: 1rem;
      align-self: flex-end;
    }
  }

  .btn:hover {
    background-color: $accent;
    color: #fff;
    cursor: pointer;
  }
}

header {
  margin-bottom: 0;
  border: 1px solid $gray-dark;
}

#options__box {
  @include flex-row;

  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;

  .btn {
    border: none;
    padding-right: 0;
    transition: color ease-out 250ms;

    &:hover {
      background-color: transparent;
      color: $base;
    }
  }
}

main {
  @include flex-colum();

  > * {
    width: 100%;

    @include flex-colum();

    > * {
      width: 100%;
    }
  }

  @include mq() {
    @include flex-row();

    justify-content: space-around;

    > * {
      padding: 0 1rem;
    }

    .score__box {
      width: 50%;
    }

    .form__box {
      width: 40%;
      margin-top: 0;
    }
  }

  @include mq($mw: 56.25rem) {
    > * {
      padding: 0 2rem;
    }
  }
}

.main__box-title {
  padding: 1rem;

  @include flex-row();

  justify-content: space-between;
  align-items: center;
}

.score__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid $gray-dark;

  .score__list-item {
    width: 100%;
    padding: 0.25rem 0.5rem;

    @include flex-row();

    justify-content: space-between;
    align-items: center;

    .score__item-score {
      margin-left: 1rem;
    }

    @include mq($mw: 31.25rem) {
      padding: 0.25rem 1rem;
    }
  }

  .score__list-item:nth-child(even) {
    background-color: $gray-light;
  }
}

.form__box {
  margin-top: 1rem;

  .main__box-title {
    @include flex-center();
  }
}

.modal__box {
  margin: 0;
  width: 100%;
  background-color: rgba($color: #808080, $alpha: 0.9);
  display: none;

  @include flex-center();

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .modal__game {
    width: 90%;
    max-width: 400px;
    margin: 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;

    > * {
      width: 100%;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }

    .select__field {
      padding: 0.5rem;
      margin-top: 1rem;
      border: none;
      outline: 1px solid $gray-dark;

      @include font();
    }
  }
}

.modal__box-display {
  display: flex;
}

/* FORM VALIDATION */
.form__message {
  display: none;
  padding: 0.3rem;
  margin: 0.5rem 0;
  color: #05d3b1;
}

.error-message {
  color: #fd3f3f;
}

.visible {
  display: block;
}
